.quotation-section {
    background-color: #fff;
    border: none;
    padding: 20px;
    min-width: 45%;
    margin-top: -30px;
}

.quotation-title {
    font-size: 17px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.new-calculation-container {
    display: flex;
    padding: 3% 0% 3% 0%;
    margin-top: -40px;
    margin-left: 18px;
    text-align: center;
    margin-bottom: -20px;
}

.new-calculation {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Avenir Next', sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    width: 186px;
    height: 46px;
}

.footer-button-container {
    display: flex;
    padding: 3% 0% 3% 0%;
    gap: 40px;
    margin-top: -40px;
    margin-left: 18px;
    text-align: center;
}

.update,
.open {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 60px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Avenir Next', sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    width: 181.6px;
    height: 46px;
}

.send-to-bank {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Avenir Next', sans-serif;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    width: 181.6px;
    height: 46px;
}

.send-to-bank:hover {
    background-color: #fff;
    color: #000;
}

.link-container {
    display: flex;
    padding: 3% 0% 3% 0%;
    gap: 40px;
    margin-top: -40px;
    margin-left: 18px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Avenir Next', sans-serif;
}

.data-table-container {
    margin-top: 20px;
    max-width: 1100px;
    overflow: hidden;
}

.scrollable-container {
    width: 90%;
    max-height: 300px;
    overflow-y: scroll;
    position: relative;
    /* overflow-x: hidden; */
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.full-width-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.full-width-table th,
.full-width-table td {
    height: 58px;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollable-container::-webkit-scrollbar {
    width: 12px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}