.checkboxItem {
    min-width: 185px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.searchButton {
    height: 42px !important;
    max-width: 80px !important;
}

.addButtonContainer {
    width: 100%;
    margin-bottom: 2vh;
}

.saveButton {
    max-width: 80px !important;
}

.saveButtonWrapper {
    padding-top: 2vh;
    text-align: center;
}

.datatableContainer {
    width: 100%;
    margin-right: 0;
}

.datatableComponent {
    width: 90%;
}

.spinnerHolder{
    display: none;
}

.reasonLayoutWidth {
    display: inline-block;
    width: 438px;
}

.buttonLayout {
    display: inline-block;
    margin-left: 220px;
    width: 200px;
}


.slds-p-around_small {
    display: inline-table;
}

/* .datatableDivContainer table>thead .slds-cell-fixed.slds-has-button-menu, .datatableDivContainer table>thead .slds-cell-fixed.slds-has-button-menu:hover{
	color: #ffffff !important;
} */


/* .myTable th>lightning-primitive-header-factory>div>span {
    background: red;
  } */


/* .myTable .dt-outer-container .slds-table_header-fixed_container .slds-scrollable_y table>thead>tr>th>lightning-primitive-header-factory>span {
    background: red;
  } */

/* .myTable table>thead .slds-cell-fixed.slds-has-button-menu, .myTable table>thead .slds-cell-fixed.slds-has-button-menu:hover{
    background: red;
  } */


/* .cLMS_VMEPromotions th>lightning-primitive-header-factory>div>span {
    background-color: rgb(250 250 250) !important;
} */