@import "c/gol_CssLibrary";

.button-container {
    display: flex;
}

.btn-client-select {
    --slds-c-button-neutral-color-background: #FFFFFF;
	--slds-c-button-radius-border: 0.5px;
	--slds-c-button-sizing-border:1.5px;
	margin-left: 20px;
}

.btn-client-deselect{
	--slds-c-button-neutral-color-background: #E9ECEC;
	--slds-c-button-sizing-border:0px;
	--slds-c-button-radius-border: 0.5px;
	margin-left: 20px;
	--slds-c-button-neutral-color-background-hover: #E9ECEC;
}