@import "c/gol_CssLibrary";

.button-container {
    display: flex;
	padding: 2% 0% 2% 0%;
}

.FinancecalCulatorLabelCss{
	font-family: 'Avenir Next', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.2px;
	color: #000000;
	padding: 4% 0% 2% 0%;
	margin-left: 20px;
}

.btn-client-select {
    --slds-c-button-neutral-color-background: #FFFFFF;
	--slds-c-button-radius-border: 0.5px;
	--slds-c-button-sizing-border:1.5px;
	margin-left: 20px;
}

.btn-client-deselect{
	--slds-c-button-neutral-color-background: #E9ECEC;
	--slds-c-button-sizing-border:0px;
	--slds-c-button-radius-border: 0.5px;
	margin-left: 20px;
	--slds-c-button-neutral-color-background-hover: #E9ECEC;
}

.slds-button{
    --lwc-shadowButtonFocus: none !important;
	box-shadow: none !important;
}