.slider-container {
    width: 100%;
    margin: 10px 0;
    background-color: white;
}

.slider-label {
    font-weight: bold;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-box {
    width: 150px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgb(12, 18, 28); 
    border-radius: 0; 
    padding-left: 20px;
}

.input-box:focus{
    border:2px solid black;
    border-radius: 0; 
    outline: none;
}

.input-box-wrapper {
    position: relative;
    display: inline-block;
}

.input-box input {
    padding-right: 25px;
    width: 150px;
    text-align: right;
}

.currency-symbol {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #000;
    pointer-events: none;
    margin-right: 5.75rem;
}

.slider-wrapper {
    position: relative;
    margin-top: 10px;
}

.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1.9px;
    background: rgb(12 18 28 / 20%);
    outline: none;
    position: relative;
}

/* Default state for the slider thumb */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M1 20C1 9.5066 9.5066 1 20 1C30.4934 1 39 9.5066 39 20C39 30.4934 30.4934 39 20 39C9.5066 39 1 30.4934 1 20Z' fill='white' stroke='%230C121C' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.4 25L24 23.5327L27.2498 20.0002L24 16.4676L25.4 15L30 20.0002L25.4 25Z' fill='%230C121C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6 25L16 23.5327L12.7502 20.0002L16 16.4676L14.6 15L10 20.0002L14.6 25Z' fill='%230C121C'/%3E%3C/svg%3E") !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
    /* Only background change for hover */
}

/* Hover effect: change background color and arrows to white */
.custom-slider::-webkit-slider-thumb:hover {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M1 20C1 9.5066 9.5066 1 20 1C30.4934 1 39 9.5066 39 20C39 30.4934 30.4934 39 20 39C9.5066 39 1 30.4934 1 20Z' fill='black' stroke='%23FFFFFF' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.4 25L24 23.5327L27.2498 20.0002L24 16.4676L25.4 15L30 20.0002L25.4 25Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6 25L16 23.5327L12.7502 20.0002L16 16.4676L14.6 15L10 20.0002L14.6 25Z' fill='%23FFFFFF'/%3E%3C/svg%3E") !important;
    transform: scale(1.1);
}

.custom-slider::-webkit-slider-thumb:focus {
    transform: scale(1);
}

/* Prevent size change */
.slider-values {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
}

.slider-min,
.slider-max {
    font-size: 12px;
    white-space: nowrap;
    margin: 0 5px;
}